<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light" style="-webkit-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.75);">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Đăng ký nhận bản tin của chúng tôi</h2>
        <span>Nhận email về những sản phẩm mới nhất và không bỏ lỡ các khuyến mãi</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="Nhập mail của bạn">
            <input type="submit" value="Đăng ký" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<hr style="margin: 50px;">

<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row">
      <div class="mouse">
        <a href="#" class="mouse-icon">
          <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
        </a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Cleanfoods</h2>
          <p>"Không để người Việt Nam dùng sản phẩm <b style="color: #82AE46;">kém chất lượng</b>. Lấy <b
              style="color: #82AE46;"> sức khỏe</b> của khách hàng là phương châm sống"</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Menu</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Cửa hàng</a></li>
            <li><a href="#" class="py-2 d-block">Về chúng tôi</a></li>
            <li><a href="#" class="py-2 d-block">Tin tức</a></li>
            <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Hỗ trợ</h2>
          <div class="d-flex">
            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
              <li><a href="#" class="py-2 d-block">Thông tin giao hàng</a></li>
              <li><a href="#" class="py-2 d-block">Chính sách đổi trả</a></li>
              <li><a href="#" class="py-2 d-block">Điều khoản</a></li>
              <li><a href="#" class="py-2 d-block">Chính sách bảo mật</a></li>
            </ul>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">FAQs</a></li>
              <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Bạn cần giải đáp thắc mắc?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">155 Sư Vạn Hạnh (nối dài), P13, Q.10,
                  TP.HCM</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+84 359 578 710</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span
                    class="text">t.dangkhoa1998@gmail.com</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          2019 All rights reserved | Trang web này được viết bởi <i class="icon-heart color-danger" aria-hidden="true"></i><a href="https://colorlib.com"
            target="_blank"> Đăng Khoa.</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>