<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Thông Tin Thương Hiệu</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <app-thuonghieu-detail></app-thuonghieu-detail>
            </div>
            <div class="col-md-8">
              <app-thuonghieu-list></app-thuonghieu-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>