<div class="row">

    <div class="col-md-12">

        <table class="table table-hover">

            <thead>
                <td>STT</td>
                <td>Thông Tin</td>
                <td>Chức Năng</td>
            </thead>

            <tbody>
                <tr *ngFor="let item of sanphamService.sanphamList; let i = index">
                    <td (click)="populateForm(item)">{{i+1}}</td>
                    <td (click)="populateForm(item)">
                        <a style="cursor:pointer;" class="list-group-item clearfix">
                            <div class="pull-left">
                                <h6 class="list-group-item-heading"> {{item.TenSanPham}} </h6>
                                <p class="list-group-item-text"> {{item.GiaBan}} đ/kg </p>
                            </div>
                            <span class="pull-right">
                                <img [src]="'../../../../../assets/img/' +  item.HinhAnh" style="max-height: 50px" accept="image/*"
                                    class="img-responsive">
                            </span>
                        </a>
                    </td>

                    <td>
                        <button (click)="onDelete(item.idSanPham)" class="btn btn-sm btn-outline-danger">X</button>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</div>